body{
    width: 100%;
    background-color: #bbbbbb;
    background: linear-gradient(180deg, rgb(255,0,0), rgb(0,120,255));;
    font-size: 18px;
    font-family: Tahoma;
    height: auto;
    margin: 0;
    padding: 2rem 0;
    }
    
    fieldset{
      padding: 2rem 10px;
      border-radius: 10px;
      background-color: bisque;
    }
    
    .name, .email, .number{
      width: 100%;
      margin: 0 0.5em 0 0;
      vertical-align: middle;
    }
    
    label{
      display: block;
    }
    
    form {
      width: 80vw;
      max-width: 500px;
      min-width: 300px;
      margin: 0 auto;
      padding-bottom: 2em;
    }
    
    h1, p{
      text-align: center;
    }
    
    textarea{
      width: 95%;
    }

    